body {
    background-image: url(https://marekturysta.files.wordpress.com/2015/03/wschod-slonca-na-klimczoku-002.jpg?w=818&h=&zoom=2);
    background-repeat: no-repeat;
    background-position: center;

}
h1 {
    color: white
}
h2 {
    color: white
}

a {
    color: white
}